In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

mpl.rcParams['figure.figsize'] = (8, 6)

In [2]:
mlo_df = pd.read_csv('data/datasets/noaa_mlo/mlo_full.csv')
mlo_df.index = pd.to_datetime(mlo_df[['year', 'month']].assign(day=1))
mlo_df = mlo_df['1976':]
mlo_df = mlo_df.drop(columns=['site'])
mlo_df

,year,month,co2_mean,ch4_mean,n2o_mean,sf6_mean,wind_direction,wind_speed,wind_steadiness,pressure,temp2m,temp10m,temp_tower,rel_humidity,precipitation_intensity
1976-07-01,1976,7,332.29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-08-01,1976,8,331.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-09-01,1976,9,329.67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-10-01,1976,10,329.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976-11-01,1976,11,330.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-08-01,2020,8,NaN,NaN,NaN,NaN,144.698925,5.538844,95.385753,681.301640,9.547984,9.708199,9.364919,35.154583,0.036290
2020-09-01,2020,9,NaN,NaN,NaN,NaN,147.730556,4.146528,94.533333,681.233972,8.980139,9.550278,9.392083,35.596774,0.041667
2020-10-01,2020,10,NaN,NaN,NaN,NaN,176.219086,4.475269,93.590054,680.231976,8.025806,8.724462,8.632930,43.420680,0.048387
2020-11-01,2020,11,NaN,NaN,NaN,NaN,165.845722,5.234642,92.608333,681.288292,6.697639,7.428889,7.302361,46.822511,0.043056
2020-12-01,2020,12,NaN,NaN,NaN,NaN,147.606183,5.471909,95.263441,680.616062,6.406317,6.974597,6.981317,NaN,0.017473

In [3]:
mlo_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
year,534.0,1998.247191,12.859711,1976.000000,1987.000000,1998.000000,2009.000000,2020.000000
month,534.0,6.533708,3.455125,1.000000,4.000000,7.000000,10.000000,12.000000
co2_mean,522.0,368.368161,22.824060,329.330000,349.127500,365.700000,387.045000,414.980000
ch4_mean,440.0,1777.383341,59.355218,1629.620000,1745.772500,1783.085000,1814.142500,1900.170000
n2o_mean,272.0,322.566434,5.633993,313.050000,317.820000,322.145000,327.302500,332.980000
sf6_mean,272.0,6.795294,1.824408,4.030000,5.120000,6.600000,8.352500,10.250000
wind_direction,528.0,177.783475,23.803662,121.021277,160.822682,175.272656,192.287298,253.005979
wind_speed,528.0,1.614499,9.843135,-92.803750,2.906922,4.010710,4.789852,8.532887
wind_steadiness,528.0,92.717624,9.970377,-1.884722,92.483199,94.286290,96.908266,99.853495
pressure,528.0,680.300213,1.183390,675.354911,679.594906,680.457599,681.090335,684.489362
temp2m,528.0,7.337209,1.739082,2.397981,6.078266,7.531586,8.711144,11.446774
temp10m,314.0,7.636287,1.642752,3.356399,6.506458,7.821239,8.944375,11.258056
temp_tower,323.0,7.622288,1.547264,3.195982,6.650475,7.876462,8.826221,10.750556
rel_humidity,521.0,37.944737,10.790016,4.212766,30.364458,37.527273,44.906685,74.780914
precipitation_intensity,408.0,0.043494,0.060633,0.000000,0.004133,0.021797,0.053771,0.444892

In [4]:
df = mlo_df[['co2_mean', 'ch4_mean']]
df

            co2_mean  ch4_mean
1976-07-01    332.29       NaN
1976-08-01    331.04       NaN
1976-09-01    329.67       NaN
1976-10-01    329.33       NaN
1976-11-01    330.47       NaN
...              ...       ...
2020-08-01       NaN       NaN
2020-09-01       NaN       NaN
2020-10-01       NaN       NaN
2020-11-01       NaN       NaN
2020-12-01       NaN       NaN

[534 rows x 2 columns]

In [16]:
mlo_df.iloc[3:4]

,year,month,co2_mean,ch4_mean,n2o_mean,sf6_mean,wind_direction,wind_speed,wind_steadiness,pressure,temp2m,temp10m,temp_tower,rel_humidity,precipitation_intensity
1976-10-01,1976,10,329.33,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN